.upcut_cont {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.upcut_cont .upcut_general_msg {
	display: none;
	max-width: 300px;
}
.upcut_cont .upcut_general_msg .msg_error {
	color: red;
}
.upcut_cont .upcut_general_msg .msg_success {
	color: green;
}
.upcut_cont .upcut_btn {
	display: inline-block;
	outline: none;
	cursor: pointer;
	color: #fef4e9;
	text-align: center;
	padding: 8px 15px 8px 15px;
	margin: 0 5px 0 0;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.upcut_cont .upcut_btn_browse {
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
}
.upcut_cont .upcut_btn_upload {
	border: solid 1px #51a351;
	background: #5bb75b;
	background: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
	background: -moz-linear-gradient(top, #62c462, #51a351);
}
.upcut_cont .upcut_btn_clear {
	border: solid 1px #bd362f;
	background: #ee5f5b;
	background: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));
	background: -moz-linear-gradient(top, #ee5f5b, #bd362f);
}
.upcut_cont .upcut_btn_crop {
	display: inline-block;
	margin: 10px auto 10px auto;
	border: solid 1px #525154;
	background: #807F83;
	background: -webkit-gradient(linear, left top, left bottom, from(#807F83), to(#67666A));
	background: -moz-linear-gradient(top, #807F83, #67666A);
}
.upcut_cont .upcut_image_browse {
	cursor: pointer;
	text-decoration: none;
	border: none;
}

/* Images - thumbnails */
.upcut_cont .upcut_images {
	margin: 0;
	padding: 0;
}
.upcut_cont .upcut_images .upcut_thumb {
	display: inline-block;
	padding: 3px;
	margin: 10px 5px 0 0;
}
.upcut_cont .upcut_images .upcut_thumb .upcut_thumb_tools {

}
.upcut_cont .upcut_images .upcut_thumb .upcut_thumb_tools div {
	display: inline-block;
	cursor: pointer;
}
.upcut_cont .upcut_images .upcut_thumb .upcut_thumb_tools .upcut_thumb_edit {
	color: orange;
}
.upcut_cont .upcut_images .upcut_thumb .upcut_thumb_tools .upcut_thumb_delete {
	color: red;
}

/* Queue */
.upcut_cont .upcut_queue {
	
}
.upcut_cont .upcut_queue_item {
	max-width: 300px;
	margin: 5px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	border: solid 1px #999999;
}
.upcut_cont .upcut_queue_display {
	padding: 0 0 3px 0;
	font-size: 12px;
	color: #555555;
}
.upcut_cont .upcut_queue_progress {
    width: 100%;
    height: 5px;
	border: solid 1px #656565;
    -webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.upcut_cont .upcut_queue_progress .upcut_progress_bar {
	height: 5px;
	width: 0%;
	border-radius: 3px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	background-color: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
}
.upcut_cont .upcut_queue_status {
	padding: 0 0 3px 0;
	font-size: 12px;
}
.upcut_cont .upcut_queue_status .queue_success {
	color: green;
}
.upcut_cont .upcut_queue_status .queue_error {
	color: red;
}

/* Crop */
.upcut_cont .upcut_crop .uc_crop_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.3);
    z-index: 10000;
}
.upcut_cont .upcut_crop .uc_crop_cont {
    margin: 15px auto 0 auto;
    padding: 0px;
    background-color: #ffffff;
    border: solid 1px #999999;
    border-radius: 3px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border: 10px solid rgba(0, 0, 0, .3);
    -moz-background-clip: border; -webkit-background-clip: border; background-clip: border-box;
    -moz-background-clip: padding; -webkit-background-clip: padding; background-clip: padding-box;
    -moz-background-clip: content; -webkit-background-clip: content; background-clip: content-box;
}
.upcut_cont .upcut_crop .uc_crop_title {
	height: 22px;
    padding: 8px 15px 8px 15px; 
    font-size: 20px;
    color: #ffffff;
    background-color: #5E5E5E;
}
.upcut_cont .upcut_crop .uc_crop_close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}
.upcut_cont .upcut_crop .uc_crop_img {
	float: left;
}
.upcut_cont .upcut_crop .uc_crop_desc {
	float: left;
    width: 300px;
    padding: 5px;
    font-size: 12px;
    color: #555555;
}
.upcut_cont .upcut_crop .uc_crop_preview {
	overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: solid 1px #999999;
}
.upcut_cont .upcut_crop .uc_crop_preview_text {
	text-align: center;
	font-style: 16px;
	font-weight: bold;
	color: #656565;
}


/*************************************************/
/* jquery.Jcrop.min.css v0.9.10 (build:20120429) */
/*************************************************/
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background-color:#999999;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:Alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:Alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}
